* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: var(--corPrincipal);
    color: var(--corSecundaria);
}

:root {
    --corPrincipal: #01300d;
    --corSecundaria: #fff;
    --corForm: #000;
}